{% extends 'base.html' %}

{% block body %}
{% load static %}

{% if messages %}
{% for message in messages %}
<div class="userlogs alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message.tags }}</strong>{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% if isfollowed %} {% else %} {% endif %}
    
<div class="card profilecard  shadow shadow-lg">
    <div id="profilecovers"
        style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({{pref.coverImg}});"
        class="profilecover" alt="...">
        <div style="background-image:url({{pref.avtarImg}});" class="profileavtar card-img-top  shadow shadow-lg"></div>
        <div id="followbtn"><button id="followbtnbtn" class="btn {% if isfollowed %}btn-outline-success{% else %}btn-primary {% endif %}">{% if isfollowed %}unfollow{% else %}follow{% endif %}</button></div>
        <div id="username">u/{{pref.User}}</div>
    </div>
    <div class="card-body">
        <div class="card-text  flex-wrap d-flex ms-9 justify-content-center">
            <!-- <div class="mx-auto"><strong> {{pref.User}}
                </strong></h4>
            </div> -->
            <div>
                <strong class="">{{upvotes}} 🔥</strong>
            </div>
        </div>
    </div>
</div>

<br>
<br>
{% for post in userPost%}

<div class="parent-post" id="{{post.id}}">
    <div class="card mb-2 mx-auto shadow shadow post">
        <div class="card-header d-flex">
            <div><i><small class="text-muted">
                        posted by
                        <a href="user/{{post.author.id}}">/{{post.author}}</a></small></i>
            </div>
        </div>

        {% if post.cover_img%}
        <img loading="lazy" src="{%url 'media'%}{{post.cover_img}}" style="max-height:400px" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body|linebreaks}}</p>
            <p class="card-text"><small class="text-muted">Last update {{post.lastupdate}} </small></p>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <div style="display:inline; margin-right:1rem">
                <form class="addnote" id="post-note{{post.id}}" action="{%url 'addnote'%}" method="post">
                    {% csrf_token %}
                    <input name="postid" type="hidden" value="{{post.id}}">
                    <input autocomplete="off" type="text" name="note" placeholder="leave a note!"
                        style="border: 1px dark;" class="form-control noteaddfield" required>
                </form>
            </div>
            <div>
                <button id="postibtn{{post.id}}" form="post-note{{post.id}}" type="submit"
                    class="btn btn-outline-primary" value="add" style=" font-size: 1em">add note!</button>
            </div>
            <div>
                <a href="post/{{post.id}}/comments" class="link-secondary btn btn-link"
                style="text-decoration: none;"><small>view notes</small></a>
            </div>
            <div>
                <label>
                    <input name="checkbox{{post.id}}" type="checkbox" data-catid="{{ post.id }}" class="vote"
                        value="true"  {% for key,values in upvotelist.items%}
                        {% if key == post %}
                            {% if values.response == 'true'%}
                                checked
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% endfor %}>
                    <img src="{% static 'img/icons/upvote-svgrepo-com.svg' %}" name="upvote" alt="down vote">
                </label>
                <label>
                    <input name="checkbox{{post.id}}" type="checkbox" data-catid="{{ post.id }}" class="vote"
                        value="false"
                        {% for key,values in upvotelist.items%}
                        {% if key == post %}
                            {% if values.response == 'false'%}
                                checked
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% endfor %}>
                    <img src="{% static 'img/icons/downvote-svgrepo-com.svg' %}" data-upvote="false" name="downvote"
                        alt="up vote">
                </label>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<script>
    $('#followbtn').click(function () {
        $.ajax(
            {
                type: "GET",
                url: "{%url 'follow' %}",
                data: {
                    userid:'{{pref.User.pk}}'
                },
                success: function (data) {
                    $('#followbtnbtn').blur()
                    if($('#followbtnbtn').html()=="follow"){
                       $('#followbtnbtn').removeClass('btn-primary')
                       $('#followbtnbtn').addClass('btn-outline-success')
                       $('#followbtnbtn').html("unfollow")
                        temp = false
                    }else{
                        $('#followbtnbtn').removeClass('btn-outline-success')
                        $('#followbtnbtn').html("follow")
                        $('#followbtnbtn').addClass('btn-primary')
                        temp = true      
                    } 
                    console.log("success")
                }
            })
    })
    $(document).ready(function () {
        $('#searchitemul').hide()

        $(".addnote").submit(function (e) {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            e.preventDefault();
            var form = $(this)
            var url = form.attr('action');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            })
            form_json_obj = form.serializeArray()
            jsn_str = JSON.stringify(form_json_obj)

            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: {
                        'form': jsn_str,
                    },
                    success: function () {
                        console.log("noted!");
                        $(':focus').val("")
                        $(':focus').blur()
                        var a = form[0].elements[1].value;
                        var btnid = $("#postibtn" + a);
                        btnid.html("added !");
                        btnid.toggleClass("btn-outline-primary", "btn-outline-success");
                        btnid.prop('disabled', true);
                        setTimeout(function () {
                            btnid.toggleClass("btn-outline-primary", "btn-outline-success");
                            btnid.prop('disabled', false);
                            btnid.html("add note");
                        }, 1500);

                    }
                }
            )
        });

        $(".vote").change(function () {
            if ($(this).prop('checked'))
                resp = $(this).val()
            else
                resp = 'unset'

            catid = $(this).attr("data-catid")

            $.ajax(
                {
                    type: "GET",
                    url: "{%url 'vote'%}",
                    data: {
                        post_id: catid,
                        res: resp
                    },
                    success: function (data) {
                        console.log("success")

                    }
                })
        });
    });

</script>
{% endblock %}